<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>
{{#each ics}}
  <p>Flavor: name</p>
  <p>Price: $</p>
  <p>Awesomeness: awesomeness</p>
{{/each}}
